page-receptor {
    ion-scroll {
        white-space: nowrap;
        height: 100%;
    }
    .col {
        border: 1px solid black;
        align: center
    }
    #notification-button {
            position: relative;
            width: 42px;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }


   #notifications-badge {
            background-color: red;
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 100%;
        }
}
